@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

@layer base {
  p {
    @apply my-2 leading-5;
  }
  h3 + p {
    @apply mt-1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-8 mb-0 font-semibold;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply first:mt-2;
  }
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-3xl pt-8 pb-4 first:pt-4;
  }
  h2 + h3 {
    @apply mt-3;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }

  ol {
    @apply list-disc;
  }
  ul {
    @apply list-decimal;
  }
  ul,
  ol {
    @apply pl-6;
  }
  li {
    @apply my-1 pl-1;
  }

  pre {
    @apply bg-stone-100 py-1 px-2 my-4 rounded text-white border border-stone-200;
  }
  strong {
    @apply font-semibold;
  }
  code {
    @apply text-stone-700;
    font-family: "Iosevka";
  }
  pre code {
    /* @apply text-black; */
  }
}

.hljs {
  background: none !important;
}
pre code.hljs {
  padding: 0.3rem !important;
}
